<main>
    <section class="content-section content-section--body content-section--white ">
        <div class="container">
            <h2 class="content-section__title content-section__title--pink"> </h2>
            <div class="content-section__body"><div class="COVIDmenuwrapper"><ul class="covid19-submenu"><li><a href="coronavirus/prevention-and-treatment.htm">Preventing infection</a></li><li><a href="coronavirus/symptoms.htm">Feeling unwell</a></li><li><a href="coronavirus/risk.htm">Vulnerable individuals</a></li><li><a href="coronavirus/covid-19-care-assistant.htm">Check your symptoms</a></li></ul> </div></div>
        </div>
    </section>
    <section class="section text-default" style="background-color:#ffffff;background-size:cover;">
        <div class="container  container--double-height">
            <div class="text-block">
                <div class="text-block__content">

                    <p>
                        <h7 style="color:#FF518A"><b>Page updated at 10:15 on 3rd April 2020</b></h7>
                    </p>
                    <h1 style="color:#400099">Coronavirus (COVID‑19) guide</h1><p>Welcome to our regularly updated guide on coronavirus. Here you’ll find the latest advice and information on symptoms, risks, how to prevent infection and what to do if you’re feeling unwell.</p><p>This guide is UK-specific. Outside the UK, the World Health Organization (WHO) recommends you follow the advice of your national or local health authority.</p>
                </div>

            </div>
        </div>
    </section>

    <section class="section text-default" style="color:#ffffff;background-color:#400099;background-size:cover;">
        <div class="container  container--double-height">
            <div class="text-block">
                <div class="text-block__content">

                    <h4>Current UK guidance</h4><p>Everyone must stay at home to help stop the spread of coronavirus.</p><p>You should only leave the house for 1 of 4 reasons:</p><ul><li>shopping for basic necessities, for example food and medicine, which must be as infrequent as possible</li><li>one form of exercise a day, for example a run, walk, or cycle – alone or with members of your household</li><li>any medical need, including to donate blood, avoid or escape risk of injury or harm, or to provide care or to help a vulnerable person</li><li>travelling to and from work, but only where this absolutely cannot be done from home</li></ul><p>IMPORTANT - These 4 reasons are exceptions – even when doing these activities, you should be minimising time spent outside of the home and ensuring you are 2 metres apart from anyone outside of your household.</p><h4><br></h4><h4>What to do if you need medical help</h4><p>If you need medical help for any reason, do not go to places like a GP surgery, pharmacy or hospital.</p><p>If you have symptoms of coronavirus (a high temperature or a new, continuous cough), use the <a href="https://111.nhs.uk/covid-19/" target="_blank">111 coronavirus service</a>.</p><p>If you need help or advice not related to coronavirus:</p><ul><li>for health information and advice, use the NHS website or your GP surgery website</li><li>for urgent medical help, use the <a href="https://111.nhs.uk/covid-19" target="_blank">NHS 111 online service</a> – only call 111 if you're unable to get help online</li><li>for life-threatening emergencies, call 999 for an ambulance</li></ul>
                </div>

            </div>
        </div>
    </section>

    <section class="container--full-screen-sq-media grid fifty-fifty   fifty-fifty--alignTextRight  bg--blue">
        <div class="grid-12-12 grid-desk-6-12  fifty-fifty__section bg--blue">
            <div class="flex-center h-100">
                <div class="grid-12-12 grid-desk-9-12 fifty-fifty__content">
                    <h2 class="title--headline color--secondary"></h2>
                    <h4 align="left"><span style="color:#2b065e">Use our COVID-19 Care Assistant</span></h4><p align="left"><span style="color:#2b065e">Worried you or someone you know might have coronavirus? Our COVID-19 Care Assistant helps you identify if you’re at risk, connect with expert clinicians and monitor your health. It’s free, easy-to-use and helps you get the right care, at the right time, all from your phone.</span></p>
                    <a class="button button--secondary" href="coronavirus/covid-19-care-assistant.htm">Find out more</a>

                </div>
            </div>
        </div>

        <div class="grid-12-12 grid-desk-6-12 no-padding pv--default fifty-fifty__section fifty-fifty__primary-media ">
            <div class="fifty-fifty__image lazy-bg" data-bg="url('https://assets.babylonhealth.com/redesign/Coronavirus_SC_Web_Live_Chat_B_HR_1250x850_RGB_MAR20.jpg"></div>


        </div>
    </section>

    <section class="section" style="color:#333333;background-color:#ffffff;background-size:cover;">
        <div class="container container--double-height">

            <header class="container--narrow">
                <div class="text-block text--center">
                    <div class="text-block__content">
                        <h4 align="left"><span style="color:#400099">Get up-to-date advice </span></h4><p align="left">Check back in on this page or on the Babylon app, which will be updated on a regular basis.</p>
                    </div>
                </div>
            </header>

            <div class="features-dynamic-col">
                <div class="container grid no-padding">
                    <div class="row grid-1">
                        <ul class="features-dynamic-col__list grid no-padding grid-list dynamic-block__children-list">
                            <li class="features-dynamic-col__list__item dynamic-block__children-list--child">
                                <figure class="features-dynamic-col__item__image">
                                    <img src="redesign/BYLN_UK_WEB_Coronavirus_Preventing-the-spread_300x300px_MAR20.png" alt="BYLN UK WEB Coronavirus Preventing the spread 300x300px MAR20">
                                </figure>

                                <div class="text-block">
                                    <div class="text-block__content--small">
                                        <div class="dynamic-block__children-list--child--body"><h5><span style="color:#400099">Preventing the spread</span></h5><p>Find out all of the information you need on how to help prevent the spread of coronavirus, including how to wash your hands, the importance of self-isolation and whether you should wear a face mask.</p><p><br><a href="coronavirus/self-isolation.htm"><span style="color:#400099"><u>More info</u></span></a><br><br></p></div>
                                    </div>

                                </div>
                            </li>
                            <li class="features-dynamic-col__list__item dynamic-block__children-list--child">
                                <figure class="features-dynamic-col__item__image">
                                    <img src="redesign/BYLN_UK_WEB_Coronavirus_Symptoms_300x300px_MAR20_200327_175903.png" alt="BYLN UK WEB Coronavirus Symptoms 300x300px MAR20">
                                </figure>

                                <div class="text-block">
                                    <div class="text-block__content--small">
                                        <div class="dynamic-block__children-list--child--body"><h5><span style="color:#400099">What to do if you have symptoms</span></h5><p>Learn more about the signs and symptoms of coronavirus, how it’s treated and what to do if you think you or someone else might be infected.</p><p><br><a href="coronavirus/symptoms.htm"><span style="color:#400099"><u>More info</u></span></a><br><br></p></div>
                                    </div>

                                </div>
                            </li>
                            <li class="features-dynamic-col__list__item dynamic-block__children-list--child">
                                <figure class="features-dynamic-col__item__image">
                                    <img src="redesign/BYLN_UK_WEB_Coronavirus_high-risk_300x300px_RGB_MAR20.png" alt="BYLN UK WEB Coronavirus high risk 300x300px RGB MAR20">
                                </figure>

                                <div class="text-block">
                                    <div class="text-block__content--small">
                                        <div class="dynamic-block__children-list--child--body"><h5><span style="color:#400099">What to do if you're at high risk</span></h5><p>Older adults, pregnant women and people with underlying health conditions are at higher risk of getting seriously ill with coronavirus. Find out more about who is at high risk and what to do if you’re most vulnerable.</p><p><br><a href="coronavirus/risk.htm"><span style="color:#400099"><u>More info</u></span></a><br><br></p></div>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="container--full-screen-sq-media grid fifty-fifty   bg--pink">
        <div class="grid-12-12 grid-desk-6-12  fifty-fifty__section bg--pink">
            <div class="flex-center h-100">
                <div class="grid-12-12 grid-desk-9-12 fifty-fifty__content">
                    <h2 class="title--headline color--secondary"></h2>
                    <h4 align="left"><span style="color:#400099">Understanding the jargon</span></h4><p align="left">Whether it’s the news, social media, or amongst your friends and family, everyone is talking about coronavirus. That’s why we’ve created our very own Covid-ictionary to help you understand common words or phrases associated with the disease.</p>
                    <a class="button button--secondary" href="coronavirus/covid-ictionary.htm">See our Covid-ictionary</a>

                </div>
            </div>
        </div>

        <div class="grid-12-12 grid-desk-6-12 no-padding pv--default fifty-fifty__section fifty-fifty__primary-media dont-show-image">
            <div class="fifty-fifty__image lazy-bg" data-bg="url('https://assets.babylonhealth.com/redesign/BYLN_UK_WEB_Coronavirus_Covid-ictionary_1500x850px_Feb20.jpg"></div>


        </div>
    </section>

    <section class="container--full-screen-sq-media grid fifty-fifty   fifty-fifty--alignTextRight  bg--white">
        <div class="grid-12-12 grid-desk-6-12  fifty-fifty__section bg--white">
            <div class="flex-center h-100">
                <div class="grid-12-12 grid-desk-9-12 fifty-fifty__content">
                    <h2 class="title--headline color--secondary"></h2>
                    <h4 align="left"><span style="color:#400099">Myths debunked</span></h4><p align="left">With so much information being shared about coronavirus, it’s hard to know the difference between rumour and fact. We spoke to Babylon doctors to help debunk a few of the myths going around.</p>
                    <a class="button button--secondary" href="coronavirus/myths.htm">Read more</a>

                </div>
            </div>
        </div>

        <div class="grid-12-12 grid-desk-6-12 no-padding pv--default fifty-fifty__section fifty-fifty__primary-media ">
            <div class="fifty-fifty__image lazy-bg" data-bg="url('https://assets.babylonhealth.com/redesign/BYLN_UK_WEB_Coronavirus_Myths_1250x850_MAR20.jpg"></div>


        </div>
    </section>

    <section class="container--full-screen-sq-media grid fifty-fifty   bg--white">
        <div class="grid-12-12 grid-desk-6-12  fifty-fifty__section bg--white">
            <div class="flex-center h-100">
                <div class="grid-12-12 grid-desk-9-12 fifty-fifty__content">
                    <h2 class="title--headline color--secondary"></h2>
                    <h4 align="left"><span style="color:#400099">What is the coronavirus?</span></h4><p align="left">Coronavirus is a new illness that affects the lungs and airways. Find out more about what we know so far about the virus, where it originated and how it is spread.</p>
                    <a class="button button--primary" href="coronavirus/about.htm">Read more</a>

                </div>
            </div>
        </div>

        <div class="grid-12-12 grid-desk-6-12 no-padding pv--default fifty-fifty__section fifty-fifty__primary-media dont-show-image">
            <div class="fifty-fifty__image lazy-bg" data-bg="url('https://assets.babylonhealth.com/redesign/0746_CoronaVirus-Web_7.jpg"></div>


        </div>
    </section>

</main>
<main>
    <section class="content-section content-section--hero content-section--white ">
        <div class="container">
            <h1 class="content-section__subheading content-section__subheading--purple">Mission</h1>
            <h2 class="content-section__title content-section__title--purple">Babylon’s mission is to put an accessible and affordable <span class="content-section__title--purple">health service in the hands of every person on earth.</span></h2>
        </div>
    </section>
    <section class="section" style="background-color:#ffffff;background-size:cover;">
        <div class="container">

            <header class="container--narrow">
                <div class="text-block text--center">
                    <div class="text-block__content">
                        <h3>About Babylon</h3><p><br></p>
                    </div>
                </div>
            </header>

            <div class="features-dynamic-col">
                <div class="container grid no-padding">
                    <div class="row grid-1">
                        <ul class="features-dynamic-col__list grid no-padding grid-list ">
                            <li class="features-dynamic-col__list__item dynamic-block__children-list--child grid__3">

                                <div class="text-block">
                                    <div class="text-block__content--small">
                                        <div class="dynamic-block__children-list--child--body"><h4 style="color:#400099">Our technology</h4><p>Our AI has been designed around a doctor's brain to provide accessible healthcare for millions in the palm of their hands. Discover more about how our technology shapes what we do.</p><ul></ul><p><span style="color:#400099"><a class="button button--full-bg" href="../ai.htm">Learn more</a></span></p></div>
                                    </div>

                                </div>
                            </li>
                            <li class="features-dynamic-col__list__item dynamic-block__children-list--child grid__3">

                                <div class="text-block">
                                    <div class="text-block__content--small">
                                        <div class="dynamic-block__children-list--child--body"><h4 style="color:#400099">Our partners</h4><p>From employers and insurers to healthcare providers and National Health Systems, we work with a broad spectrum of partners to deliver accessible healthcare for all.</p><ul></ul><p><span style="color:#400099"><a class="button button--full-bg" href="../business-hub/babylon-for-business.htm">Learn more</a></span></p></div>
                                    </div>

                                </div>
                            </li>
                            <li class="features-dynamic-col__list__item dynamic-block__children-list--child grid__3">

                                <div class="text-block">
                                    <div class="text-block__content--small">
                                        <div class="dynamic-block__children-list--child--body"><h4 style="color:#400099">What we treat</h4><p>Wondering what the signs of flu are? or if your medical problem can be dealt with via a video call? Our doctors have written information on a variety of common medical conditions.</p><ul></ul><p><span style="color:#400099"><a class="button button--full-bg" href="../what-we-treat.htm">Learn more</a></span></p></div>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="container--full-screen-sq-media grid fifty-fifty   fifty-fifty--alignTextRight  bg--teal">
        <div class="grid-12-12 grid-desk-6-12  fifty-fifty__section bg--teal">
            <div class="flex-center h-100">
                <div class="grid-12-12 grid-desk-9-12 fifty-fifty__content">
                    <h2 class="title--headline color--secondary"></h2>
                    <h3><span style="color:#400099">Babylon is home to a large passionate team of scientists, clinicians, mathematicians and engineers.</span></h3><p><span style="color:#400099">Our team has been recruited from over 60 different countries and is working on making healthcare delivery affordable and accessible. By combining the ever-growing power of AI with the best medical expertise of humans, Babylon can deliver unparalleled access to healthcare, including personalised health assessments, treatment advice and face-to-face appointments with a doctor 24/7.</span></p>
                    <a class="button button--secondary" href="../clinical.htm">Our doctors</a>

                </div>
            </div>
        </div>

        <div class="grid-12-12 grid-desk-6-12 no-padding pv--default fifty-fifty__section fifty-fifty__primary-media ">
            <div class="fifty-fifty__image lazy-bg" data-bg="url('https://assets.babylonhealth.com/redesign/2-Team.jpg" data-was-processed="true" style="background-image: url(&quot;https://assets.babylonhealth.com/redesign/2-Team.jpg&quot;);"></div>


        </div>
    </section>

    <section class="container--full-screen-sq-media grid fifty-fifty   bg--purple">
        <div class="grid-12-12 grid-desk-6-12  fifty-fifty__section bg--purple">
            <div class="flex-center h-100">
                <div class="grid-12-12 grid-desk-9-12 fifty-fifty__content">
                    <h2 class="title--headline color--white"></h2>
                    <h3>With existing operations in the UK and Rwanda, plus plans in progress with major providers in China, the USA and the Middle East, we are on the path to achieving our mission.</h3>

                </div>
            </div>
        </div>

        <div class="grid-12-12 grid-desk-6-12 no-padding pv--default fifty-fifty__section fifty-fifty__primary-media ">
            <div class="fifty-fifty__image lazy-bg" data-bg="url('https://assets.babylonhealth.com/redesign/1-Mission.jpg" data-was-processed="true" style="background-image: url(&quot;https://assets.babylonhealth.com/redesign/1-Mission.jpg&quot;);"></div>


        </div>
    </section>

    <section class="cta-section">
        <a class="grid-12-12 cta-section__column cta-section__column--teal" href="../blog.htm">
            <h2 class="cta-section__title">
                Read more on our

            </h2>
        </a>
    </section>
    <section class="content-section content-section--hero content-section--white ">
        <div class="container">
            <h2 class="content-section__title content-section__title--purple">Why are we called Babylon? </h2>
            <div class="content-section__body"><p>In the ancient city of Babylon, almost 2500 years ago, citizens needing medical advice often gathered in the town square to share thoughts on treatments for common illnesses. This is one of the earliest examples of democratising healthcare - and, as it was the Babylonians who enjoyed the longest life expectancy across the ancient world, it’s from our health-conscious ancestors that we take inspiration for our 21st century services.</p></div>
        </div>
    </section>
</main>