<div class="template-content">
    <!-- Slider -->
    <div class="template-content-section template-padding-reset">

        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#FAF4E7;padding:0px;margin-top:0px;margin-bottom:0px;">


            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.1.6">
                <ul>

                    <li data-index="rs-1" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="assets/media/image/_sample/slider/slider_slide1_background-100x50.png" data-rotate="0" data-saveperformance="off" class="fable_slide_1_class" id="fable_slide_1_id" data-title="fable_slide_1" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                        <img src="assets/media/image/_sample/slider/slider_slide1_background.png" alt="" width="100" height="600" data-bgposition="center top" data-bgfit="contain" data-bgrepeat="repeat-x" class="rev-slidebg" data-no-retina>

                        <!-- Layer nr. 1 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-1-layer-1"
                             data-x="-50"
                             data-y="73"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:-80;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;"
                             data-transform_out="x:-50px;opacity:0;s:300;s:300;"
                             data-start="300"
                             data-responsive_offset="on"
                             style="z-index:5;">
                            <img src="assets/media/image/_sample/slider/slider_slide1_img1.png" alt="" width="580" height="491" data-no-retina>
                        </div>

                        <!-- Layer nr. 2 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-1-layer-2"
                             data-x="right" data-hoffset="-55"
                             data-y="44"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:80;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1200;e:Power3.easeInOut;"
                             data-transform_out="x:50px;opacity:0;s:300;s:300;"
                             data-start="800"
                             data-responsive_offset="on"
                             style="z-index:6;">
                            <img src="assets/media/image/_sample/slider/slider_slide1_img2.png" alt="" width="567" height="546" data-no-retina>
                        </div>

                        <!-- Layer nr. 3 -->
                        <div class="tp-caption tp-font-handlee tp-resizeme"
                             id="slide-1-layer-3"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-102"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:-20;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1400;e:Power3.easeInOut;"
                             data-transform_out="x:0;y:-20;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:300;s:300;"
                             data-start="800"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index:7;white-space:nowrap;color:rgba(254,101,0,1.00);border-color:rgba(86,80,159,1.00);">
                            Welcome to Fable!
                        </div>

                        <!-- Layer nr. 4 -->
                        <div class="tp-caption tp-font-lato-black tp-resizeme"
                             id="slide-1-layer-4"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-45"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:50;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;"
                             data-transform_out="x:0;y:50;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:300;s:300;"
                             data-start="1600"
                             data-splitin="words"
                             data-splitout="words"
                             data-responsive_offset="on"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index:8;white-space:nowrap;border-color:rgba(86,80,159,1.00);">
                            Perfect Education
                        </div>

                        <!-- Layer nr. 5 -->
                        <div class="tp-caption tp-font-lato-light tp-resizeme"
                             id="slide-1-layer-5"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="15"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:50;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;"
                             data-transform_out="x:0;y:50;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:300;s:300;"
                             data-start="2100"
                             data-splitin="words"
                             data-splitout="words"
                             data-responsive_offset="on"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index:9;white-space:nowrap;border-color:rgba(86,80,159,1.00);">
                            For Your Child
                        </div>

                        <!-- Layer nr. 6 -->
                        <div class="tp-caption tp-slider-button tp-resizeme"
                             id="slide-1-layer-6"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="105"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:1.2;sY:1.2;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;"
                             data-transform_out="x:0;y:50;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:300;s:300;"
                             data-start="2600"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index:10;">
                            <a href="http://themeforest.net/user/quanticalabs/portfolio?ref=quanticalabs" target="_top" class="template-component-button template-component-button-style-1">BUY THIS THEME NOW</a>
                        </div>

                        <!-- Layer nr. 7 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-1-layer-7"
                             data-x="-95"
                             data-y="266"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="2600"
                             data-responsive_offset="on"
                             style="z-index:11;">
                            <img src="assets/media/image/_sample/slider/slider_icon1.png" alt="" width="98" height="100" data-no-retina>
                        </div>

                        <!-- Layer nr. 8 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-1-layer-8"
                             data-x="-25"
                             data-y="46"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="2800"
                             data-responsive_offset="on"
                             style="z-index:12;">
                            <img src="assets/media/image/_sample/slider/slider_icon2.png" alt="" width="88" height="87" data-no-retina>
                        </div>

                        <!-- Layer nr. 9 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-1-layer-9"
                             data-x="310"
                             data-y="70"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="3000"
                             data-responsive_offset="on"
                             style="z-index:13;">
                            <img src="assets/media/image/_sample/slider/slider_icon3.png" alt="" width="92" height="91" data-no-retina>
                        </div>

                        <!-- Layer nr. 10 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-1-layer-10"
                             data-x="292"
                             data-y="265"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="3200"
                             data-responsive_offset="on"
                             style="z-index:14;">
                            <img src="assets/media/image/_sample/slider/slider_icon4.png" alt="" width="74" height="85" data-no-retina>
                        </div>

                        <!-- Layer nr. 11 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-1-layer-11"
                             data-x="865"
                             data-y="270"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="2600"
                             data-responsive_offset="on"
                             style="z-index:15;">
                            <img src="assets/media/image/_sample/slider/slider_icon7.png" alt="" width="73" height="81" data-no-retina>
                        </div>

                        <!-- Layer nr. 12 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-1-layer-12"
                             data-x="840"
                             data-y="120"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="2800"
                             data-responsive_offset="on"
                             style="z-index:16;">
                            <img src="assets/media/image/_sample/slider/slider_icon6.png" alt="" width="86" height="77" data-no-retina>
                        </div>

                        <!-- Layer nr. 13 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-1-layer-13"
                             data-x="700"
                             data-y="40"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="3000"
                             data-responsive_offset="on"
                             style="z-index:17;">
                            <img src="assets/media/image/_sample/slider/slider_icon5.png" alt="" width="99" height="98" data-no-retina>
                        </div>

                        <!-- Layer nr. 14 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-1-layer-14"
                             data-x="1170"
                             data-y="35"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="3200"
                             data-responsive_offset="on"
                             style="z-index:18;">
                            <img src="assets/media/image/_sample/slider/slider_icon8.png" alt="" width="86" height="85" data-no-retina>
                        </div>

                        <!-- Layer nr. 15 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-1-layer-15"
                             data-x="1230"
                             data-y="200"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="3400"
                             data-responsive_offset="on"
                             style="z-index:19;">
                            <img src="assets/media/image/_sample/slider/slider_icon9.png" alt="" width="74" height="91" data-no-retina>
                        </div>

                    </li>

                    <!-- SLIDE -->
                    <li data-index="rs-4" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="assets/media/image/_sample/slider/slider_slide2_background-100x50.png" data-rotate="0" data-saveperformance="off" class="fable_slide_2_class" id="fable_slide_2_id" data-title="fable_slide_2" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                        <img src="assets/media/image/_sample/slider/slider_slide2_background.png" alt="" width="100" height="600" data-bgposition="center top" data-bgfit="contain" data-bgrepeat="repeat-x" class="rev-slidebg" data-no-retina>

                        <!-- Layer nr. 1 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-4-layer-1"
                             data-x="850"
                             data-y="57"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:50px;opacity:0;s:1800;e:Power3.easeInOut;"
                             data-transform_out="x:50px;opacity:0;s:300;s:300;"
                             data-start="900"
                             data-responsive_offset="on"
                             style="z-index:5;">
                            <img src="assets/media/image/_sample/slider/slider_slide2_img2.png" alt="" width="453" height="458" data-no-retina>
                        </div>

                        <!-- Layer nr. 2 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-4-layer-2"
                             data-x="540"
                             data-y="34"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:200;y:0;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1800;e:easeInOutExpo;"
                             data-transform_out="x:-50px;opacity:0;s:300;s:300;"
                             data-start="300"
                             data-responsive_offset="on"
                             style="z-index:6;">
                            <img src="assets/media/image/_sample/slider/slider_slide2_img1.png" alt="" width="465" height="537" data-no-retina>
                        </div>

                        <!-- Layer nr. 3 -->
                        <div class="tp-caption tp-font-handlee tp-resizeme"
                             id="slide-4-layer-3"
                             data-x="100"
                             data-y="center" data-voffset="-102"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:-20;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1400;e:Power3.easeInOut;"
                             data-transform_out="x:0;y:-20;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:300;s:300;"
                             data-start="800"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index:7;white-space:nowrap;color:rgba(254,101,0,1.00);border-color:rgba(86,80,159,1.00);">
                            Friendly Atmosphere
                        </div>

                        <!-- Layer nr. 4 -->
                        <div class="tp-caption tp-font-lato-black tp-resizeme"
                             id="slide-4-layer-4"
                             data-x="100"
                             data-y="center" data-voffset="-45"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:50;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;"
                             data-transform_out="x:0;y:50;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:300;s:300;"
                             data-start="1600"
                             data-splitin="words"
                             data-splitout="words"
                             data-responsive_offset="on"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index:8;white-space:nowrap;border-color:rgba(86,80,159,1.00);">
                            Welcoming Place
                        </div>

                        <!-- Layer nr. 5 -->
                        <div class="tp-caption tp-font-lato-light tp-resizeme"
                             id="slide-4-layer-5"
                             data-x="100"
                             data-y="center" data-voffset="15"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:50;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;"
                             data-transform_out="x:0;y:50;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:300;s:300;"
                             data-start="2100"
                             data-splitin="words"
                             data-splitout="words"
                             data-responsive_offset="on"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index:9;white-space:nowrap;border-color:rgba(86,80,159,1.00);">
                            For Every Child
                        </div>

                        <!-- Layer nr. 6 -->
                        <div class="tp-caption tp-slider-button tp-resizeme"
                             id="slide-4-layer-6"
                             data-x="100"
                             data-y="center" data-voffset="105"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:1.2;sY:1.2;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;"
                             data-transform_out="x:0;y:50;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:300;s:300;"
                             data-start="2600"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index:10;">
                            <a href="http://themeforest.net/user/quanticalabs/portfolio?ref=quanticalabs" target="_top" class="template-component-button template-component-button-style-1">BUY THIS THEME NOW</a>
                        </div>

                        <!-- Layer nr. 7 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-4-layer-7"
                             data-x="660"
                             data-y="50"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="2600"
                             data-responsive_offset="on"
                             style="z-index:11;">
                            <img src="assets/media/image/_sample/slider/slider_icon13.png" alt="" width="83" height="93" data-no-retina>
                        </div>

                        <!-- Layer nr. 8 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-4-layer-8"
                             data-x="550"
                             data-y="120"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="2800"
                             data-responsive_offset="on"
                             style="z-index:12;">
                            <img src="assets/media/image/_sample/slider/slider_icon12.png" alt="" width="89" height="78" data-no-retina>
                        </div>

                        <!-- Layer nr. 9 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-4-layer-9"
                             data-x="470"
                             data-y="40"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="3000"
                             data-responsive_offset="on"
                             style="z-index:13;">
                            <img src="assets/media/image/_sample/slider/slider_icon11.png" alt="" width="81" height="82" data-no-retina>
                        </div>

                        <!-- Layer nr. 10 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-4-layer-10"
                             data-x="425"
                             data-y="130"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="3200"
                             data-responsive_offset="on"
                             style="z-index:14;">
                            <img src="assets/media/image/_sample/slider/slider_icon14.png" alt="" width="61" height="43" data-no-retina>
                        </div>

                        <!-- Layer nr. 11 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-4-layer-11"
                             data-x="320"
                             data-y="35"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="3400"
                             data-responsive_offset="on"
                             style="z-index:15;">
                            <img src="assets/media/image/_sample/slider/slider_icon10.png" alt="" width="79" height="84" data-no-retina>
                        </div>

                    </li>

                    <li data-index="rs-5" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="assets/media/image/_sample/slider/slider_slide3_background-100x50.png" data-rotate="0" data-saveperformance="off" class="fable_slide_3_class" id="fable_slide_3_id" data-title="fable_slide_3" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                        <img src="assets/media/image/_sample/slider/slider_slide3_background.png" alt="" width="100" height="600" data-bgposition="center top" data-bgfit="contain" data-bgrepeat="repeat-x" class="rev-slidebg" data-no-retina>

                        <!-- Layer nr. 1 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-5-layer-1"
                             data-x="610"
                             data-y="70"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:-30;y:0;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1800;e:Power3.easeInOut;"
                             data-transform_out="x:50px;opacity:0;s:300;s:300;"
                             data-start="900"
                             data-responsive_offset="on"
                             style="z-index:5;">
                            <img src="assets/media/image/_sample/slider/slider_slide3_img1.png" alt="" width="607" height="442" data-no-retina>
                        </div>

                        <!-- Layer nr. 2 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-5-layer-2"
                             data-x="425"
                             data-y="375"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:-50px;opacity:0;s:1400;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="300"
                             data-responsive_offset="on"
                             style="z-index:6;">
                            <img src="assets/media/image/_sample/slider/slider_slide3_img2.png" alt="" width="254" height="157" data-no-retina>
                        </div>

                        <!-- Layer nr. 3 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-5-layer-3"
                             data-x="1080"
                             data-y="435"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:50px;opacity:0;s:1600;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="300"
                             data-responsive_offset="on"
                             style="z-index:7;">
                            <img src="assets/media/image/_sample/slider/slider_slide3_img3.png" alt="" width="172" height="97" data-no-retina>
                        </div>

                        <!-- Layer nr. 4 -->
                        <div class="tp-caption tp-font-handlee tp-resizeme"
                             id="slide-5-layer-4"
                             data-x="100"
                             data-y="center" data-voffset="-102"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:-20;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1400;e:Power3.easeInOut;"
                             data-transform_out="x:0;y:-20;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:300;s:300;"
                             data-start="800"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index:8;white-space:nowrap;color:rgba(254,101,0,1.00);border-color:rgba(86,80,159,1.00);">
                            Learning & Fun
                        </div>

                        <!-- Layer nr. 5 -->
                        <div class="tp-caption tp-font-lato-black tp-resizeme"
                             id="slide-5-layer-5"
                             data-x="100"
                             data-y="center" data-voffset="-45"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:50;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;"
                             data-transform_out="x:0;y:50;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:300;s:300;"
                             data-start="1600"
                             data-splitin="words"
                             data-splitout="words"
                             data-responsive_offset="on"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index:9;white-space:nowrap;border-color:rgba(86,80,159,1.00);">
                            Learning Program
                        </div>

                        <!-- Layer nr. 6 -->
                        <div class="tp-caption tp-font-lato-light tp-resizeme"
                             id="slide-5-layer-6"
                             data-x="100"
                             data-y="center" data-voffset="15"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:50;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;"
                             data-transform_out="x:0;y:50;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:300;s:300;"
                             data-start="2100"
                             data-splitin="words"
                             data-splitout="words"
                             data-responsive_offset="on"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index:10;white-space:nowrap;border-color:rgba(86,80,159,1.00);">
                            & After-School Care
                        </div>

                        <!-- Layer nr. 7 -->
                        <div class="tp-caption tp-slider-button tp-resizeme"
                             id="slide-5-layer-7"
                             data-x="100"
                             data-y="center" data-voffset="105"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:1.2;sY:1.2;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;"
                             data-transform_out="x:0;y:50;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:300;s:300;"
                             data-start="2600"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index:11;">
                            <a href="http://themeforest.net/user/quanticalabs/portfolio?ref=quanticalabs" target="_top" class="template-component-button template-component-button-style-1">BUY THIS THEME NOW</a>
                        </div>

                        <!-- Layer nr. 8 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-5-layer-8"
                             data-x="526"
                             data-y="126"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="2600"
                             data-responsive_offset="on"
                             style="z-index:12;">
                            <img src="assets/media/image/_sample/slider/slider_icon15.png" alt="" width="87" height="84" data-no-retina>
                        </div>

                        <!-- Layer nr. 9 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-5-layer-9"
                             data-x="430"
                             data-y="40"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="2800"
                             data-responsive_offset="on"
                             style="z-index:13;">
                            <img src="assets/media/image/_sample/slider/slider_icon16.png" alt="" width="79" height="84" data-no-retina>
                        </div>

                        <!-- Layer nr. 10 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-5-layer-10"
                             data-x="450"
                             data-y="150"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="3000"
                             data-responsive_offset="on"
                             style="z-index:14;">
                            <img src="assets/media/image/_sample/slider/slider_icon14.png" alt="" width="61" height="43" data-no-retina>
                        </div>

                        <!-- Layer nr. 11 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-5-layer-11"
                             data-x="625"
                             data-y="50"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="3200"
                             data-responsive_offset="on"
                             style="z-index:15;">
                            <img src="assets/media/image/_sample/slider/slider_icon17.png" alt="" width="65" height="73" data-no-retina>
                        </div>

                        <!-- Layer nr. 12 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-5-layer-12"
                             data-x="1020"
                             data-y="30"
                             data-width="auto"
                             data-height="auto"
                             data-transform_idle=""
                             data-transform_in="x:0;y:100;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:easeInOutExpo;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="3400"
                             data-responsive_offset="on"
                             style="z-index:16;">
                            <img src="assets/media/image/_sample/slider/slider_icon18.png" alt="" width="78" height="76" data-no-retina>
                        </div>

                    </li>

                </ul>

                <div class="tp-bannertimer tp-bottom" style="visibility:hidden !important;"></div>

            </div>



        </div>

    </div>

    <!-- Section -->
    <div id="about" class="template-content-section template-padding-bottom-5">

        <!-- Main -->
        <div class="template-main">

            <!-- Layout 50x50 -->
            <div class="template-layout-33x66 template-clear-fix">

                <!-- Left column -->
                <div class="template-layout-column-left template-margin-bottom-reset">

                    <!-- Gallery -->
                    <div class="template-component-gallery">
                        <ul class="template-layout-100 template-clear-fix">
                            <li class="template-layout-column-left">
                                <div class="template-component-image template-component-image-hover-slide-enable template-fancybox template-preloader">
                                    <!-- <a href="assest/media/image/_sample/1050x770/11.jpg" data-fancybox-group="gallery-1"> -->
                                    <img src="assest/media/image/about.jpg" alt="" />
                                    <span><span><span></span></span></span>
                                    <!-- </a> -->
                                    <!-- <div>
                                        <h6>Classes in Painting</h6>
                                        <span>Bouncy Bears Class</span>
                                    </div> -->
                                    <!-- <p><b>Classes in Painting</b> Bouncy Bears Class</p> -->
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

                <!-- Right column -->
                <div class="template-layout-column-right template-margin-bottom-reset">

                    <div class="template-align-left">

                        <h3>
                            <strong>Merry Moppets Guild </strong> is a STEAM based learning program
                            <!-- <strong>After School Program</strong> -->
                        </h3>

                        <!-- <div class="template-component-divider template-component-divider-style-2"></div> -->

                        <div class="template-margin-top-3">
                            We focus on building the core values of creativity, curiosity, cognitive and critical thinking in children from 2-12 years. Our experiments and activities focus on innovative thinking, reasoning and problem solving
                        </div>

                        <p class="template-margin-top-3">
                            STEM is a building block for STEAM. It focuses the application of science, technology, engineering and math through art and design.
                            <!-- MerryMoppets is an after-school program that is based on the STEAM subjects, that form the foundation of all academic and intellectual learning.  We aim to introduce practical and creative forms of arts and sciences to children from ages 2 to 12. Their young, growing minds will be exposed to creative and critical thinking, innovations, experimentation and fun forms of learning.  -->
                        </p>
                        <p class="template-margin-top-3">
                            STEAM integrates them into “interdependent” learning units based on real-world applications. It is an educational approach to learning that uses Science, Technology, Engineering, the Arts and Mathematics as access points for guiding student inquiry, dialogue, and critical thinking.
                        </p>
                        <p class="template-margin-top-3">
                            STEAM aims to strengthen the foundation by helping students enhance their critical thinking skills and recognize the intersection of different skills or subjects.
                        </p>



                        <a href="#contact" class="template-component-button template-component-button-style-1 template-margin-top-3">Contact Us<i></i></a>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Section -->
    <div class="template-content-section template-background-image template-padding-bottom-5">

        <!-- Main -->
        <div class="template-main template-align-center template-section-white">

            <!-- Feature -->
            <div class="template-component-feature">
                <ul class="template-layout-100 template-clear-fix">
                    <li class="template-layout-column-left">
                        <!-- <div class="template-icon-feature template-align-center template-icon-feature-size-large template-icon-feature-name-science"></div> -->
                        <h5 class="template-margin-top-3">Vision & Mission</h5>
                        <!-- <p>is the stydy of the world around us</p> -->
                        <div class="template-component-italic template-margin-top-3">
                            Creative projects where kids bond with STEAM subjects, that don’t require fancy materials, and helping the young minds discover their own creative process with supportive staff, by their side.
                        </div>
                    </li>
                </ul>
            </div>

        </div>

    </div>

    <!-- Section -->
    <!-- Section -->
    <div id="story" class="template-content-section template-padding-bottom-5">

        <!-- Main -->
        <div class="template-main">

            <!-- Layout 50x50 -->
            <div class="template-layout-100 template-clear-fix">

                <!-- Left column -->
                <div class="template-layout-column-left template-margin-bottom-reset">

                    <div class="template-align-left">

                        <h3>Learn about <strong>Our Story</strong></h3>

                        <!-- <div class="template-component-divider template-component-divider-style-2 template-align-left"></div> -->
                        <!-- clsas rem below template-component-italic  -->


                        <p class="template-margin-top-3">
                            I’m Bhavani, I am a mother to a wonderful princess with my husband, a technical architect. I believe we can nurture curious kids, with strong bond and social skills through creative projects.
                        </p>
                        <p class="template-margin-top-3">When I had my kid, I knew I want to instill 2 values in her: curiosity and creative spirit. I saw hands-on projects as a way to nurture these values and spend quality time with my kid. So, I started making stuff, a lot of stuff. There were many duds at the beginning, so many that I wondered if we would ever have fun making this a wonderful experience I desired.</p>
                        <p class="template-margin-top-3">It was at this point that I decided to stopover the adult led ideas and try a process involving art and simple science experiments, where kids explore without interference (I had to learn to back off while the kids find their way through the process) and that is when the magic began. </p>

                        </p>

                        <a href="#contact" class="template-component-button template-component-button-style-1 template-margin-top-3">Contact Us <i></i></a>

                    </div>

                </div>

                <!-- Right column -->
                <!-- <div class="template-layout-column-right template-margin-bottom-reset"> -->
                <!-- Gallery -->
                <!-- <div class="template-component-gallery">
                    <ul class="template-layout-100 template-clear-fix">
                        <li class="template-layout-column-left">
                            <div class="template-component-image template-component-image-hover-slide-enable template-fancybox template-preloader">
                                <a href="assest/media/image/_sample/1050x770/1.jpg" data-fancybox-group="gallery-1">
                                    <img src="assest/media/image/_sample/690x506/1.jpg" alt="" />
                                    <span><span><span></span></span></span>
                                </a>
                                 <div>
                                    <h6>Outdoor Activity During Recess</h6>
                                    <span>Tenderhearts Class</span>
                                </div> -->
                <!-- <p><b>Outdoor Activity During Recess</b> Tenderhearts Class</p> -->
                <!--</div>
                            </li>
                        </ul>
                    </div>

                </div>-->

            </div>

        </div>

    </div>

    <!-- Section -->
    <div id="stem" class="template-content-section template-background-image template-padding-bottom-5">

        <!-- Main -->
        <div class="template-main template-align-center template-section-white">

            <!-- Feature -->
            <div class="template-component-feature">
                <ul class="template-layout-25x25x25x25 template-clear-fix">
                    <li class="template-layout-column-left">
                        <div class="template-icon-feature template-align-center template-icon-feature-size-large template-icon-feature-name-science"></div>
                        <h5 class="template-margin-top-3">Science</h5>
                        <!-- <p>is the stydy of the world around us</p> -->
                        <p>Fun filled activity to study the world around us</p>
                    </li>
                    <li class="template-layout-column-center-left">
                        <div class="template-icon-feature template-align-center template-icon-feature-size-large template-icon-feature-name-tech"></div>
                        <h5 class="template-margin-top-3">Technology</h5>
                        <!-- <p>Stands for any manmade project</p>	 -->
                        <p>Learn the cause & effect with simple projects</p>
                    </li>
                    <li class="template-layout-column-center-center">
                        <div class="template-icon-feature template-align-center template-icon-feature-size-large template-icon-feature-name-engg"></div>
                        <h5 class="template-margin-top-3">Engineering</h5>
                        <p>Apply science, math & tech to solve problems</p>
                    </li>
                    <li class="template-layout-column-center-right">
                        <div class="template-icon-feature template-align-center template-icon-feature-size-large template-icon-feature-name-arts"></div>
                        <h5 class="template-margin-top-3">Arts</h5>
                        <!-- <p>Creative mindset is critical STEM</p>	 -->
                        <p>Activities to develop creativity in your child</p>
                    </li>
                    <li class="template-layout-column-right">
                        <div class="template-icon-feature template-align-center template-icon-feature-size-large template-icon-feature-name-math"></div>
                        <h5 class="template-margin-top-3">Math</h5>
                        <p>Making everyday Math easier and joyful for Kids</p>
                        <!-- with Measurements, patterns, geometry & spatial science -->
                    </li>
                </ul>
            </div>

        </div>

    </div>

    <!-- Section -->
    <div class="template-content-section template-padding-bottom-5">

        <!-- Main -->
        <div class="template-main">

            <!-- Layout 50x50 -->
            <div class="template-layout-66x33 template-clear-fix">

                <!-- Right column -->
                <div class="template-layout-column-left template-margin-bottom-reset">

                    <div class="template-align-left">

                        <h3>
                            <strong>Kids and STEAM</strong>
                            <!-- <strong>After School Program</strong> -->
                        </h3>

                        <!-- <div class="template-component-divider template-component-divider-style-2"></div> -->

                        <div class="template-margin-top-3">
                            Children are naturally very curious and love to experiment. Early years provide the perfect opportunity to help kids develop a love for learning and especially for science.
                        </div>

                        <p class="template-margin-top-3">
                            They learn better by finding answers to their many questions, which brings out their curiosity and creativity, and is a very important part of their thought process.
                        </p>
                        <p class="template-margin-top-3">
                            Bite-Sized Science activities under 60 Minutes, encompassed in interactive conversations and engaging discussions; are the best and simple way to teach STEAM concepts to kids in hands-on ways.
                        </p>
                        <p class="template-margin-top-3">
                            Furthermore, these activities support children to use the ‘scientific method’ of observing, forming a hypothesis, experimenting and making conclusions. Benefits of these activities include:

                        </p>

                        <!-- <a href="#" class="template-component-button template-component-button-style-1 template-margin-top-3">Learn More<i></i></a> -->

                    </div>

                </div>
                <!-- Left column -->
                <div class="template-layout-column-right template-margin-bottom-reset">

                    <!-- Gallery -->
                    <div class="template-component-gallery">
                        <ul class="template-layout-100 template-clear-fix">
                            <li class="template-layout-column-left">
                                <div class="template-component-image template-component-image-hover-slide-enable template-fancybox template-preloader">
                                    <!-- <a href="assest/media/image/_sample/1050x770/11.jpg" data-fancybox-group="gallery-1"> -->
                                    <img src="assest/media/image/stem.jpg" alt="" />
                                    <span><span><span></span></span></span>
                                    <!-- </a> -->
                                    <!-- <div>
                                        <h6>Classes in Painting</h6>
                                        <span>Bouncy Bears Class</span>
                                    </div> -->
                                    <!-- <p><b>Classes in Painting</b> Bouncy Bears Class</p> -->
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>



            </div>

        </div>

        <div class="template-layout-column-right template-margin-bottom-reset">
            <!-- Divider -->
            <div class="template-component-divider template-margin-reset"></div>

            <!-- Main -->
            <div class="template-main template-margin-top-3">

                <!-- Layout 33x33x33 -->
                <div class="template-layout-33x33x33 template-clear-fix">

                    <!-- Left column -->
                    <div class="template-layout-column-left">

                        <!-- List -->
                        <div class="template-component-list template-component-list-style-1">
                            <ul>
                                <li>No Text books</li>
                                <li>No Blackboard</li>
                                <li>No Assessment</li>
                            </ul>
                        </div>

                    </div>

                    <!-- Center column -->
                    <div class="template-layout-column-center">

                        <!-- List -->
                        <div class="template-component-list template-component-list-style-1">
                            <ul>
                                <li>Build self-led inquiry</li>
                                <li>Encouraging openness</li>
                                <li>Language and Social skills</li>
                            </ul>
                        </div>

                    </div>

                    <!-- Right column -->
                    <div class="template-layout-column-right">

                        <!-- List -->
                        <div class="template-component-list template-component-list-style-1">
                            <ul>
                                <li>After-School Classes</li>
                                <li>Weekend / Summer Workshops</li>
                                <li>Passionate Instructors</li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>
        </div>



    </div>
    <!-- content Section -->

    <div id="contact" class="template-content-section template-padding-reset template-background-color-2">

        <div class="template-main">

            <!-- Call to action -->
            <div class="template-component-call-to-action template-component-call-to-action-style-2">

                <!-- Content -->
                <div class="template-component-call-to-action-content">

                    <!-- Left column -->
                    <div class="template-component-call-to-action-content-left">

                        <!-- Header -->
                        <h3>Contact us to fix your kid’s appointment with fun & learning. </h3>
                        <div class="template-component-italic template-margin-top-1">
                            Reach out to us at +91 9663688422 or admin@merrymoppetsguild.com
                        </div>
                        </p>

                    </div>

                    <!-- Right column -->
                    <div class="template-component-call-to-action-content-right">

                        <!-- Button -->
                        <a href="mailto:admin@merrymoppetsguild.com?Subject=Interested%20in%20MerryMoppetsGuild" class="template-component-button template-component-button-style-1">Send Mail<i></i></a>
                        <!-- <h6><a href="mailto:admin@merrymoppetsguild.com?Subject=Interested%20in%20MerryMoppetsGuild" target="_top">admin@merrymoppetsguild</a></h6> -->

                    </div>

                </div>

            </div>

        </div>


    </div>

    <div class="template-footer">
        <div class="template-content-section template-padding-reset template-background-color-2">

            <div class="template-footer-top">

                <!-- Main -->
                <div class="template-main">

                    <!-- Widget list -->
                    <ul class="template-widget-list template-layout-33x33x33 template-clear-fix">

                        <!-- Left column -->
                        <li class="template-layout-column-left">
                            <h6>
                                <span>About Merry Moppets Guild</span>
                                <span></span>
                            </h6>
                            <div>
                                <div class="template-widget-text">
                                    <p class="template-margin-reset">
                                        MerryMoppetGuild is a STEAM Learning Lab. We help impart Experiential learning that opens wide new opportunities of learning STEAM skills.
                                    </p>
                                    <!-- <img src="assest/media/image/logo_footer.png" class="template-footer-logo template-margin-top-2" alt="" /> -->
                                    <div class="template-widget-archive template-widget-archive-style-1 template-margin-top-3">
                                        <ul>
                                            <li>
                                                <h6>+91 9663688422</h6>
                                                <!-- <a href="skype:919876543210" title="January 2014 (8)">+91 9876543210</a> -->
                                            </li>
                                            <li>
                                                <h6><a href="mailto:admin@merrymoppetsguild.com?Subject=Interested%20in%20MerryMoppetsGuild" target="_top">admin@merrymoppetsguild</a></h6>
                                                <!-- <a href="emailto:admin@merrymoppetsguild.com" title="February 2014 (7)">admin@merrymoppetsguild.com</a> -->
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>

                        <!-- Center left column -->
                        <!-- Center right column -->
                        <li class="template-layout-column-center">
                            <h6>
                                <span>Our Program</span>
                                <span></span>
                            </h6>
                            <div>
                                <p>Step into the simples yet intersting world of kids projects that include</p>
                                <div class="template-component-list template-component-list-style-1-alt template-margin-top-2">
                                    <ul>
                                        <li>Science 4 Kids</li>
                                        <li>Technology 4 Kids</li>
                                        <li>Engineering 4 Kids</li>
                                        <li>Arts 4 Kids</li>
                                        <li>Math 4 Kids</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="template-layout-column-right">
                            <h6>
                                <span>Recent Posts</span>
                                <span></span>
                            </h6>
                            <div>
                                <div class="template-widget-recent-post template-widget-recent-post-style-1">
                                    <ul>
                                        <li>
                                            <a href="post-image.html">
                                                <img src="assest/media/image/_sample/150x150/7.jpg" alt="View Post &quot;Drawing Lesson&quot;" />
                                            </a>
                                            <h6>
                                                <a href="#" title="View Post &quot;Drawing Lesson&quot;">
                                                    Science and Kids
                                                </a>
                                            </h6>
                                            <span class="template-icon-blog template-icon-blog-date">December 20, 2019</span>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assest/media/image/_sample/150x150/4.jpg" alt="View Post &quot;Fall Parents Meeting Day&quot;" />
                                            </a>
                                            <h6>
                                                <a href="post-image.html" title="View Post &quot;Fall Parents Meeting Day&quot;">
                                                    Why Kids Need STEAM
                                                </a>
                                            </h6>
                                            <span class="template-icon-blog template-icon-blog-date">January 10, 2020</span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div>

            </div>

            <!-- Bottom footer -->
            <div class="template-footer-bottom">
                <div class="template-align-center template-main">
                    &copy;&nbsp;
                    Copyright 2020 MerryMoppetsGuild. All Rights Reserved.

                </div>

            </div>
        </div>
    </div>
</div>